.venv
__pycache__
website/__pycache__
error.log
error.log.1

# Ignore database files
instance
migrations

# Ignore images in static folder
static/images/*

# Except the .gitkeep file
!static/images/.gitkeep
