.venv
.vscode
__pycache__
website/__pycache__
error.log
error.log.1

# Ignore database
database/database.db

# Ignore images in static folder
website/static/images/*

# Except the .gitkeep file
!database/.gitkeep
!website/static/images/.gitkeep
