.contact-form .contact-form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.contact-form-wrapper .company-address,
.contact-form-wrapper .form {
  flex-basis: 45%;
}

.contact-form .company-image img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 32rem;
  border-radius: 20px;
}

.company-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 2rem;
}

.company-address .address-group i {
  display: inline-block;
}

.company-address .address-group h3 {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 1rem;
  font-weight: 500;
}
