.content-side-image {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  margin-bottom: 14.4rem;
}

.content-side-image.image-left {
  flex-direction: row;
}

.content-side-image.image-right {
  flex-direction: row-reverse;
}

.content-side-image .img-container,
.content-side-image .content-container {
  flex-basis: 50%;
}

.content-side-image .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8rem;
}

.content-side-image .text-box__inner {
  padding: 3rem;
  height: 75%;
}

.content-side-image .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

.content-side-image .button-box {
  padding: 0 3rem;
}
