.header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../assets/header-image.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.header-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features {
  padding: 0;
  margin: 0 0 10rem 0;
}

.features .feature-boxes {
  display: flex;
}

.features .box {
  padding: 2rem;
  height: 20rem;
  text-align: center;
  box-shadow: 5px 5px 10px var(--color-gray);
  color: var(--color-white);
}

.features .box.box-odd {
  background-color: var(--color-bg);
}

.features .box.box-even {
  background-color: var(--color-red);
}

.footer {
  background-color: var(--color-bg);
  text-align: center;
  padding: 1rem 2rem;
  color: var(--color-white);
}

.footer .social-media-links {
  padding: 1rem 0;
}

.footer .social-media-links i {
  cursor: pointer;
  padding: 1rem;
}

.footer .social-media-links i:hover {
  transform: scale(1.2);
}

.scroll-me {
  height: 5vh;
  min-height: 25px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.scroll-me svg {
  animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
