@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .navbar .logo,
  .navbar .nav-items {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .navbar .logo {
    margin-bottom: 1rem;
  }

  .row .text-box,
  .row .img-box {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  .row {
    height: auto;
    margin-bottom: 6rem;
  }

  .row .text-box__inner {
    padding: 2rem 3rem;
  }

  .row .button-box {
    padding-bottom: 1rem;
  }

  .scroll-me {
    margin-bottom: 4rem;
  }

  .features .box {
    float: none;
    width: 100%;
    height: 15rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .cta-banner .cta-banner-left,
  .cta-banner .cta-banner-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .cta-banner-left h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .about-tpgs .tpgs-left,
  .about-tpgs .tpgs-right {
    float: none;
    width: 100%;
    margin-bottom: 1rem;
  }

  .contact-form-wrapper .company-address,
  .contact-form-wrapper .form {
    float: none;
    width: 100%;
  }

  .contact-form {
    padding: 0;
  }

  .company-address,
  .form {
    margin-bottom: 2rem;
  }

  .add-btn {
    left: 91%;
  }

  .about-wrapper .about-left,
  .about-wrapper .about-right {
    width: auto;
    float: none;
  }
}

@media (min-width: 500px) and (max-width: 778px) {
  html {
    font-size: 50%;
  }

  p {
    font-size: 1.4rem;
  }

  .row .text-box,
  .row .img-box {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }

  .row {
    height: auto;
    margin-bottom: 6rem;
  }

  .row .text-box__inner {
    padding: 2rem 3rem;
  }

  .row .button-box {
    padding-bottom: 1rem;
  }

  .scroll-me {
    margin-bottom: 4rem;
  }

  .features .box {
    float: none;
    width: 100%;
    height: 15rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .cta-banner .cta-banner-left,
  .cta-banner .cta-banner-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .cta-banner-left h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .about-tpgs .tpgs-left,
  .about-tpgs .tpgs-right {
    float: none;
    width: 100%;
    margin-bottom: 1rem;
  }

  .contact-form-wrapper .company-address,
  .contact-form-wrapper .form {
    float: none;
    width: 100%;
  }

  .contact-form {
    padding: 0;
  }

  .company-address,
  .contact-form {
    margin-bottom: 2rem;
  }

  .login-form {
    margin: 25vh auto 25vh;
  }

  .add-btn {
    left: 91%;
  }
}

@media (min-width: 779px) and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}