.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .register-wrapper {
  width: 40vw;
  background-color: var(--color-light-gray);
  border-radius: 2rem;
}

.register .register-wrapper .button.is-style-secondary {
  margin: 2rem auto 1rem;
}

.register .register-wrapper .account-text a {
  margin-left: 0.5rem;
}
