/* BUTTON */
.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.5em auto;
  color: var(--color-red);
  outline: none;
  cursor: pointer;
}

.button.is-style-primary {
  background-color: var(--color-white);
  padding: 0.6em 1.2em;
  border-radius: 3rem;
  text-transform: uppercase;
}

.button.is-style-primary:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.button.is-style-secondary {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-red);
  padding: 0.6em 1.2em;
  border-radius: 3rem;
  text-transform: uppercase;
}

.button.is-style-secondary:hover {
  transform: translate(0, -0.2rem);
}

.button.is-style-tertiary {
  text-transform: capitalize;
  border-bottom: 0.1rem solid transparent;
}

.button.is-style-tertiary:hover {
  border-bottom: 0.1rem solid var(--color-red);
}

/* LINK */
.a-link {
  display: inline-block;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid transparent;
}

.a-link:hover {
  border-bottom: 1px solid #f4f4f4;
}

/* LOGO */
.logo {
  font-size: 2.4rem;
  min-width: 22rem;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}

.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-items .nav-item {
  display: inline-block;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
}

/* ALERT */
.alert {
  position: fixed;
  right: 0;
  top: 5rem;
  max-width: 35rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin: 1rem 3rem;
  padding: 2rem 1.5rem;
  border: 0.2rem solid;
  font-size: 1.6rem;
  border-radius: 1rem;
  z-index: 1;
}

.alert .close {
  border: none;
  background: transparent;
  font-size: 2.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.alert-success {
  border-color: var(--color-success);
  background-color: var(--bg-success);
}

.alert-message {
  border-color: var(--color-message);
  background-color: var(--bg-message);
}

.alert-error {
  border-color: var(--color-error);
  background-color: var(--bg-error);
}

/* FOOTER */
.footer {
  background-color: var(--color-bg);
  text-align: center;
  padding: 1rem 2rem;
  color: var(--color-white);
}

.footer .social-media-links {
  padding: 1rem 0;
}

.footer .social-media-links i {
  cursor: pointer;
  padding: 1rem;
}

.footer .social-media-links i:hover {
  transform: scale(1.2);
}

/* CONTENT-SIDE-IMAGES */
.content-side-image {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  margin-bottom: 14.4rem;
}

.content-side-image.image-left {
  flex-direction: row;
}

.content-side-image.image-right {
  flex-direction: row-reverse;
}

.content-side-image .img-container,
.content-side-image .content-container {
  flex-basis: 50%;
}

.content-side-image .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8rem;
}

.content-side-image .text-box__inner {
  padding: 3rem;
  height: 75%;
}

.content-side-image .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}

.content-side-image .button-box {
  padding: 0 3rem;
}

/* SHOWCASE EMPTY */
.showcase-empty .showcase-empty-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: var(--color-light-gray);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
}

.showcase-empty-wrapper .showcase-buttons .button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
