{% extends "index.html" %} {% block title %}About | Travel Tales{% endblock %}
{% block content %}

<header class="pad has-nav">
  <div class="container">
    <h1 class="about-heading text-black">About Us</h1>
    <p class="about-paragraph text-gray">
      At TravelShare, we believe in the power of stories to inspire and connect
      people from all walks of life. Our platform is dedicated to travelers who
      want to share their unique experiences and discover new destinations
      through the eyes of fellow explorers. Whether you're a solo adventurer, a
      family traveler, or a couple seeking romantic escapes, TravelShare is your
      go-to community for genuine travel insights and inspiration.
    </p>
  </div>
</header>
<section class="about">
  <div class="container">
    <div class="about-mission mb-5">
      <ul class="about-mission__grid">
        <li class="text-gray">Foster a community of passionate travelers.</li>
        <li class="text-gray">
          Provide a platform for sharing authentic travel experiences.
        </li>
        <li class="text-gray">Inspire others to explore new destinations.</li>
        <li class="text-gray">Connect people through the joy of travel.</li>
      </ul>
    </div>
    <div class="about-values mb-5">
      <div class="about-values__grid">
        <div class="values text-black">
          <span class="text-red text-bolder">Authenticity</span>
          <h3 class="text-bolder text-gray">
            Real stories from real travelers
          </h3>
        </div>
        <div class="values text-black">
          <span class="text-red text-bolder">Inclusivity</span>
          <h3 class="text-bolder text-gray">
            Welcoming travelers of all backgrounds
          </h3>
        </div>
        <div class="values text-black">
          <span class="text-red text-bolder">Inspiration</span>
          <h3 class="text-bolder text-gray">
            Encouraging exploration and adventure
          </h3>
        </div>
        <div class="values text-black">
          <span class="text-red text-bolder">Connection</span>
          <h3 class="text-bolder text-gray">
            Building a global community of travel enthusiasts
          </h3>
        </div>
      </div>
    </div>
    <div class="cta-banner">
      <h3>Join us on a journey to explore the world, one story at a time.</h3>
      <a href="/share" class="cta-button">Share</a>
    </div>
  </div>
</section>
{% endblock %}
