{% extends "index.html" %} {% block title %}Contact | Travel Tales{% endblock %}
{% block content %}

<section class="contact-form has-nav">
  <div class="container">
    <div class="contact-form-wrapper">
      <div class="company-address">
        <div class="address-group">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
              <path
                d="M12 2a7.008 7.008 0 0 0-7 7c0 5.353 6.036 11.45 6.293 11.707l.707.707.707-.707C12.964 20.45 19 14.353 19 9a7.008 7.008 0 0 0-7-7zm0 16.533C10.471 16.825 7 12.553 7 9a5 5 0 0 1 10 0c0 3.546-3.473 7.823-5 9.533z"
              />
              <path
                d="M12 6a3 3 0 1 0 3 3 3 3 0 0 0-3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"
              />
            </svg>
          </i>
          <h3 class="text-gray">Location</h3>
          <p class="text-gray">
            1101 Huntington Dr, Arcadia, CA 91007, United States
          </p>
        </div>
        <div class="address-group">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <path
                d="M29 4H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h26a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.72 2L16 14.77 3.72 6zM2 24.59V7.23l10.12 7.23zM3.41 26l10.36-10.36 1.64 1.17a1 1 0 0 0 1.16 0l1.64-1.17L28.59 26zM30 24.59 19.88 14.46 30 7.23z"
                data-name="2-Email"
              />
            </svg>
          </i>
          <h3 class="text-gray">Email</h3>
          <p class="text-gray">contact@traveltales.com</p>
        </div>
        <div class="address-group">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="m22.1 15.06-2.19-2.19a3.08 3.08 0 0 0-4.34 0l-1.47 1.45a1.07 1.07 0 0 1-1.5 0c-4.07-4.07-4-3.3-1.47-5.89a3.07 3.07 0 0 0 0-4.34L8.94 1.9a3.07 3.07 0 0 0-4.34 0L2.41 4.09C-2.89 9.39 7.43 23 16.13 23c2.88 0 3.71-1.35 6-3.6a3.07 3.07 0 0 0-.03-4.34zM20.69 18l-2.19 2.17c-2 2-7 .32-11-3.65s-5.65-9-3.65-11L6 3.31a1.07 1.07 0 0 1 1.51 0c3.24 3.24 3.24 2.65.73 5.17a3.06 3.06 0 0 0 0 4.33l2.93 2.93a3.13 3.13 0 0 0 4.32 0L17 14.28a1.1 1.1 0 0 1 1.51 0l2.19 2.19a1.08 1.08 0 0 1-.01 1.53z"
              />
            </svg>
          </i>
          <h3 class="text-gray">Call</h3>
          <p class="text-gray">+1 626 2419300</p>
        </div>
        <div class="company-image">
          <img
            src="{{url_for('static', filename='assets/building-image.jpeg')}}"
            alt="Company Image"
          />
        </div>
      </div>
      <div class="form-wrapper">
        <form
          action="{{ url_for('views.contact') }}"
          class="form"
          method="post"
        >
          <h1>Contact US</h1>
          <p class="text-gray">
            Let us know your questions and concerns by filling out the contact
            form below.
          </p>
          <div class="form-group">
            <label for="username">Name</label>
            <input
              type="text"
              id="username"
              name="name"
              maxlength="40"
              placeholder="🙌"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              maxlength="40"
              placeholder="🙌"
              required
            />
          </div>
          <div class="form-group pos-relative">
            <label for="message">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              maxlength="400"
              placeholder="🙌"
              required
            ></textarea>
            <p id="char-count">0 / 400</p>
          </div>
          <button
            id="submit-btn"
            type="submit"
            class="button is-style-secondary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
