{% extends "index.html" %} {% block title %}Home | Travel Tales{% endblock %} {%
block content %}

<header class="header">
  <div class="header-content">
    <h1 class="text-uppercase text-bolder text-white">
      Journey Beyond Borders
    </h1>
    <h3 class="text-uppercase text-white">Unforgettable Travel Experiences</h3>
    <a class="button is-style-primary no-border" href="/explore"
      >Explore Places</a
    >
  </div>
</header>
<div class="scroll-me">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path
      d="m12 17.586-7.293-7.293-1.414 1.414L12 20.414l8.707-8.707-1.414-1.414L12 17.586z"
      fill="#555555"
    />
    <path
      d="m20.707 5.707-1.414-1.414L12 11.586 4.707 4.293 3.293 5.707 12 14.414l8.707-8.707z"
      fill="#555555"
    />
  </svg>
</div>

<section class="showcase" id="explore-places">
  <div class="container">
    <div class="content-side-image image-right">
      <div class="img-container">
        <img
          src="{{url_for('static', filename='assets/discover-with-friends.jpeg' ) }}"
        />
      </div>
      <div class="content-container">
        <div class="text-container">
          <h2 class="heading-box text-black">
            Discover and Share Adventures with Friends
          </h2>
          <p class="text-gray">
            There's nothing like exploring new destinations with your best
            friends by your side. Capture the magic of your adventures and share
            your stories, tips, and photos with our vibrant community of travel
            enthusiasts. Your unforgettable experiences can inspire others to
            embark on their own journeys and create lifelong memories with their
            friends.
          </p>
        </div>
        <div class="button-container">
          <a class="button is-style-tertiary" href="/share">learn more</a>
        </div>
      </div>
    </div>
    <div class="content-side-image image-left">
      <div class="img-container">
        <img
          src="{{url_for('static', filename='assets/romantic-for-couples.jpeg' ) }}"
        />
      </div>
      <div class="content-container">
        <div class="text-container">
          <h2 class="heading-box text-black">Romantic Getaways for Couples</h2>
          <p class="text-gray">
            Escape the routine and discover the world with your special someone.
            Whether it's a cozy beach retreat or an adventurous mountain hike,
            share your travel stories and romantic moments with our community.
            Inspire other couples to explore new places and create beautiful
            memories together. Your journey of love and adventure awaits.
          </p>
        </div>
        <div class="button-container">
          <a class="button is-style-tertiary" href="/explore">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container feature-boxes">
    <div class="box box-odd">
      <h2>Adventurous</h2>
      <p class="text-normal">
        Embark on thrilling journeys to breathtaking destinations, where daring
        adventures beckon at every turn.
      </p>
    </div>
    <div class="box box-even">
      <h2>Affordable</h2>
      <p class="text-normal">
        Satisfy your wanderlust without breaking the bank, with budget-friendly
        travel options and unbeatable deals.
      </p>
    </div>
    <div class="box box-odd">
      <h2>Experience</h2>
      <p class="text-normal">
        Create cherished memories amidst awe-inspiring landscapes, cultural
        wonders, and unforgettable experiences.
      </p>
    </div>
  </div>
</section>

{% endblock %}
