{% extends "index.html" %} {% block title %}Login | Travel Tales{% endblock %}
{%block content %}

<header class="pad has-nav">
  <div class="container">
    <h1>Login</h1>
  </div>
</header>

<section class="register">
  <div class="container">
    <div class="form-wrapper">
      <form action="{{ url_for('auth.login') }}" method="post" class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            minlength="8"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        <button id="submit-btn" type="submit" class="button is-style-secondary">
          Login
        </button>
        <div class="account-text">
          <p>New here?</p>
          <a href="/register" class="button is-style-tertiary">Register</a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
