{% extends "index.html" %} {% block title %}Register | Travel Tales{% endblock
%} {% block content %}

<header class="pad has-nav">
  <div class="container">
    <h1>Register</h1>
  </div>
</header>

<section class="register">
  <div class="container">
    <div class="form-wrapper">
      <form
        action="{{ url_for('auth.register') }}"
        method="post"
        class="form"
        id="registration-form"
      >
        <div class="form-group">
          <label for="username">Name</label>
          <input
            type="text"
            id="username"
            name="username"
            minlength="6"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            minlength="6"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            minlength="6"
            maxlength="40"
            placeholder="🙌"
            required
          />
        </div>
        {% if current_user.is_authenticated and user.is_admin %}
        <div class="form-group flex-center">
          <input type="checkbox" id="create-admin" name="admin" />
          <label for="create-admin">Create Admin</label>
        </div>
        {% endif %}
        <button
          id="register-btn"
          type="submit"
          class="button is-style-secondary"
        >
          Register
        </button>
        <div class="account-text">
          <p>Already have an account?</p>
          <a href="/login" class="button is-style-tertiary">Login</a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
