{% extends "index.html" %} {% block content %}

<section class="about">
  <div class="container">
    <h1 class="about-us text-black">About Us</h1>
    <p class="text-gray about-us-para">
      With a focus on authenticity and a deep appreciation for cultural immersion, our website is dedicated to
      showcasing the beauty and diversity of travel destinations. Through vivid imagery and insightful narratives, we
      aim to transport our audience to far-off lands and inspire a sense of wanderlust. Whether you're seeking practical
      travel advice or simply looking to explore the world from the comfort of your home, we invite you to join us on
      this journey of discovery and exploration.
    </p>
    <div class="about-wrapper">
      <div class="about-left">
        <ul>
          <li>Passionate Travelers.</li>
          <li>Diverse Destinations.</li>
          <li>Insider Tips.</li>
        </ul>
      </div>
      <div class="about-right">
        <ul>
          <li>Stunning Photography.</li>
          <li>Community-driven.</li>
          <li>Inspiration for Adventure.</li>
        </ul>
      </div>
    </div>
    <div class="about-tpgs">
      <div class="tpgs-left">
        <div class="tpgs text-black">
          <span class="text-red text-bolder">162</span>
          <h3 class="text-bolder text-gray">Travelled</h3>
        </div>
        <div class="tpgs text-black">
          <span class="text-red text-bolder">65</span>
          <h3 class="text-bolder text-gray">Places</h3>
        </div>
      </div>
      <div class="tpgs-right">
        <div class="tpgs text-black">
          <span class="text-red text-bolder">16</span>
          <h3 class="text-bolder text-gray">Private Guides</h3>
        </div>
        <div class="tpgs text-black">
          <span class="text-red text-bolder">20</span>
          <h3 class="text-bolder text-gray">Members</h3>
        </div>
      </div>
    </div>
    <div class="cta-banner mb-10">
      <div class="cta-banner-left">
        <h3>What are you waiting for, reach us right now.</h3>
      </div>
      <div class="cta-banner-right">
        <a href="./contact.html" class="btn-cta">Contact Us</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}