{% extends "index.html" %} {% block content %}

<section class="showcase">
  <div class="container">
    {% for destination in destinations %} {% set row_class = 'image-right' if
    destination[0] % 2 == 1 else 'image-left' %}
    <div class="content-side-image {{ row_class }}">
      <div class="img-container">
        <img
          src="{{url_for('static', filename='images/' + destination[3]) }}"
        />
      </div>
      <div class="content-container">
        <div class="text-container">
          <h2 class="heading-box text-black">{{ destination[1] }}</h2>
          <p class="text-gray">{{ destination[2] }}</p>
        </div>
        <div class="button-container">
          <a class="button is-style-tertiary" href="/contact">learn more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
