{% extends "index.html" %} {% block content %}

<section class="about">
  <div class="container">
    <form action="/register" method="post" class="form login-form" id="registration-form">
      <h1>Register</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" minlength="6" maxlength="40" placeholder="🙌" required />
        <p class="field-msg"></p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" maxlength="40" placeholder="🙌" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="6" maxlength="40" placeholder="🙌" required />
        <p class="field-msg"></p>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" minlength="6" maxlength="40" placeholder="🙌" required />
        <p class="field-msg"></p>
      </div>
      <button id="register-btn" type="submit" class="btn-primary btn-secondary form-btn">
        Register
      </button>
      <p class="account-text">Already have an account?</p>
      <a href="/login" class="btn-tertiary">Login</a>
    </form>
  </div>
</section>
{% endblock %}