{% extends "index.html" %} {% block content %}

<section class="share">
  <div class="container">
    <div class="form-wrapper">
      <form
        action="{{ url_for('views.share') }}"
        class="form"
        method="post"
        enctype="multipart/form-data"
      >
        <h1>Destination</h1>
        <p class="text-gray">Share your experience with others.</p>
        <div class="form-group">
          <label for="desname">Destination Name</label>
          <input
            type="text"
            maxlength="30"
            name="desname"
            id="desname"
            placeholder="🙌"
            required
          />
        </div>
        <div class="form-group pos-relative">
          <label for="message">Description</label>
          <textarea
            name="description"
            id="message"
            cols="30"
            rows="10"
            maxlength="400"
            placeholder="🙌"
            required
          ></textarea>
          <p id="char-count">0 / 400</p>
        </div>
        <label for="image-input" class="image-input-label">Choose a file</label>
        <input
          id="image-input"
          type="file"
          accept=".png,.jpg,.jpeg"
          name="image"
          required
        />
        <button id="submit-btn" type="submit" class="button is-style-secondary">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
